<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Card</title>
		<script src="js/jquery-2.2.1.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body>
		<div class="container">
			<div class="card text-center">
			  <div class="card-header">

			    <ul class="nav nav-tabs card-header-tabs">
			      <li class="nav-item">
			        <a class="nav-link active" id="card1">View 1</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="card2">View 2</a>
			      </li>
			    </ul>

			  </div>

			  <div class="row">
				<div class="col-sm-12">
					<div class="acoes" id="acoes">Senhor, o que deseja fazer hoje?</div>					
				</div>
			</div>

			</div>
		</div>

	<script>
		$('#card1').click(function() {

			$.ajax({ 
					url: '/view1',
					method: "get",
					success: function(data) {
						$('#acoes').html(data);
					}
				})

		});

		$('#card2').click(function() {

			$.ajax({ 
					url: '/view2',
					method: "get",
					success: function(data) {
						$('#acoes').html(data);
					}
				})

		});



	</script>
	</body>

		
</html>